<template>
  <q-header elevated>
    <q-toolbar>
      <q-btn flat dense round icon="menu" aria-label="Menu" @click="toggleLeftDrawer"/>

      <q-toolbar-title>
        BddTrans
      </q-toolbar-title>

      <div>TransDb v{{ $q.version }}</div>
    </q-toolbar>
  </q-header>

  <q-page class="container q-pt-md">
    <q-infinite-scroll @load="onLoad" ref="scrollElement">
      <div class="row q-col-gutter-md">
        <div class="col-12 col-md-6" v-for="doctor in doctors" :key="doctor.pk">
          <q-card class="shadow-2">
            <div class="overflow-auto" style="height: 30vh">
              <q-card-section>
                <div class="text-h6">{{ doctor.firstName }} {{ doctor.lastName?.toUpperCase() }}</div>
                <div class="text-subtitle2">{{ doctor.city }} ( {{ doctor.postalCode }} )</div>
                <div class="text-subtitle2">{{ doctor.address }}</div>
                <q-chip color="primary" text-color="white" icon="event">
                  {{ doctor.kind }}
                </q-chip>
              </q-card-section>

              <q-separator dark inset/>

              <q-card-section>
                <p>{{ doctor.description }}</p>
              </q-card-section>
            </div>
            <q-card-actions>
              <q-btn :href="'https://bddtrans.fr'+doctor.infoLink" to="_blank" color="primary">infos</q-btn>
            </q-card-actions>
          </q-card>
        </div>
      </div>
    </q-infinite-scroll>
  </q-page>

  <q-drawer v-model="leftDrawerOpen" show-if-above elevated>
    <q-list>
      <q-item-label header>
        Filtres
      </q-item-label>
      <q-item>
        <q-input v-model="filters.postalCode" label="code postal" clearable/>
      </q-item>
      <q-item>
        <q-input v-model="filters.lastName" label="nom"/>
      </q-item>
      <q-item>
        <q-input v-model="filters.firstName" label="prénom"/>
      </q-item>
      <q-item>
        <q-select v-model="filters.kind" label="type de pratiquant / service" :options="kinds.data.value?.kinds" clearable></q-select>
      </q-item>
      <q-item>
        nombres resultats: {{ result.data.value?.doctors?.total }}
      </q-item>
      <q-item>
        page: {{ page }}
      </q-item>
    </q-list>
  </q-drawer>
</template>

<script setup lang="ts">
import { gql, useQuery } from '@urql/vue'
import { Doctor, DoctorQuery } from 'src/interfaces/api/doctor'
import { computed, ref, watch } from 'vue'
import { PagedResponse } from 'src/interfaces/api/response'
import { QInfiniteScroll } from 'quasar'

const nbItems = 10

const filters = ref<DoctorQuery>({})
const page = ref(0)
const leftDrawerOpen = ref(false)

const doctors = ref<Doctor[]>([])
const done = ref<(stop?: boolean) => void | undefined>()

const scrollElement = ref<typeof QInfiniteScroll>()

const pageOffset = computed(() => {
  return (page.value - 1) * nbItems
})

const result = useQuery<{ doctors: PagedResponse<Doctor> }>({
  query: gql`
        query(
          $filters: DoctorFilters,
          $nb: Int,
          $offset: Int
        ) {
          doctors(nb: $nb, offset: $offset, filters: $filters){
            total
            data{
              pk
              kind
              postalCode
              infoLink
              city
              firstName
              lastName
              description
            }
          }
        }
      `,
  variables: {
    offset: pageOffset,
    nb: nbItems,
    filters
  }
})

const kinds = useQuery({
  query: gql`{kinds}`
})

function toggleLeftDrawer () {
  leftDrawerOpen.value = !leftDrawerOpen.value
}

function onLoad (index: number, doneFunc?: (stop?: boolean) => void) {
  if (result.data.value && (index > Math.ceil((result.data.value?.doctors.total || 0) / nbItems))) {
    doneFunc && doneFunc()
    return
  }
  done.value = doneFunc
  page.value++
}

watch(filters.value, () => {
  for (const filtersKey in filters.value) {
    filters.value[filtersKey] = filters.value[filtersKey] === '' ? undefined : filters.value[filtersKey]
  }
  page.value = 1
  doctors.value = []
  scrollElement.value?.reset()
})

watch(result.data, (newValue) => {
  doctors.value = doctors.value.concat(newValue?.doctors.data || [])
  done.value && done.value()
  done.value = undefined
})
</script>

<style scoped lang="sass">
.q-drawer label
  width: 100%
</style>
