// breakpoint variable, from https://quasar.dev/style/breakpoints
// Except the xs one because I think 600px is too small
$xs-breakpoint: 718px
$sm-breakpoint: 1024px
$md-breakpoint: 1439px
$lg-breakpoint: 1920px

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl
  width: 100%
  margin-right: auto
  margin-left: auto


@media (min-width: $xs-breakpoint)
.container,
.container-sm
  max-width: 540px


@media (min-width: $sm-breakpoint)
.container,
.container-sm,
.container-md
  max-width: 920px


@media (min-width: $md-breakpoint)
.container,
.container-sm,
.container-md,
.container-lg
  max-width: 1140px


@media (min-width: $lg-breakpoint)
.container,
.container-sm,
.container-md,
.container-lg,
.container-xl
  max-width: 1440px

a
  text-decoration: none
