<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <router-view />
    </q-page-container>
    <q-footer>
      unofficial frontend for <a href="https://bddtrans.fr/accueil/">BddTrans</a> with search capability. <br/>
      fully open source and open to contributions (but with no docs i'm a lazy gurl UwU) <a href="https://gitlab.com/bddtrans">gitlab</a>
    </q-footer>
  </q-layout>
</template>

<script setup lang="ts">
</script>
